<h1 class="text-center text-info">Danh sách quản lý nhà xe</h1>
<a routerLink="/create" class="btn btn-primary  m-2">Tạo mới danh sách</a>
<div>
  <input class="form-control me-2 w-25 " type="text" placeholder="Name"
         name="email" aria-label="Search" #email>
  <button class="btn btn-success" type="submit">Search</button>
</div>
<table class="table table-hover ">
  <thead>
  <tr>
    <th>STT</th>
    <th>Số Xe</th>
    <th>Loại Xe</th>
    <th>Tên Nhà Xe</th>
    <th>Điểm Đi</th>
    <th>Điểm Đến</th>
    <th>Số Điện Thoại</th>
    <th>Email</th>
    <th>Giờ Đi</th>
    <th>Giờ Đến</th>
    <th>Sửa</th>
    <th>Xoá</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let quanLys of quanLy , index as i">
    <td>{{i + 1}}</td>
    <td>{{quanLys.soXe}}</td>
    <td>{{quanLys.loaiXe}}</td>
    <td>{{quanLys.tenNhaXe}}</td>
    <td>{{quanLys.diemDi.name}}</td>
    <td>{{quanLys.diemDen.name}}</td>
    <td>{{quanLys.soDienThoai}}</td>
    <td>{{quanLys.email}}</td>
    <td>{{quanLys.gioDi}}</td>
    <td>{{quanLys.gioDen}}</td>
    <td><a [routerLink]="['',quanLys.id]" class="btn btn-warning">Sửa</a></td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="getInfoToModal(quanLys)"
              data-bs-target="#exampleModal">
        Xoá
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác Nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có đồng ý xoá thông tin này không ?
        <p>Số Xe là : {{deleteQuanLy.soXe}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Quay lại</button>
        <button type="button" class="btn btn-primary" (click)="delete(deleteQuanLy.id)" data-bs-dismiss="modal">Vâng
        </button>
      </div>
    </div>
  </div>
</div>
