body{
  background-image: url("https://hotel84.com/hotel84-images/product/photo/VHBH2YJQN_be-boi-Sheraton-Grand-Danan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
#form{
  border-radius: 20px;
  background-color: rgba(0,0,0,.5);
}
.form-label{
  color: white;
  font-weight: 300;
}
