
<div class="container">
  <h1 style="font-family:Alice;font-size: 80px;color: #0a53be " class="text-center "> List facility</h1>
</div>
<div class="container-fluid">
  <a [routerLink]="['/facility/create']" class="btn btn-primary m-3">Create Facility</a>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div  *ngFor="let item of facility">
    <div class="col">
      <div class="card" style="width: 18rem;height: 100%">
        <img height="200px" [src]="item.img" class="card-img-top" alt="No No">
        <div class="card-body">
          <h3 class="card-title">{{item.name}}</h3>
          <p class="card-text">Diện Tích :{{item.area}} m<sup>
            <small>2</small>
          </sup></p>
          <p class="card-text">
            {{item.status}}</p>
        </div>
        <div class="text-center m-3"><a [routerLink]="['/facility/update',item.id]" class="btn btn-warning m-2">Update</a>
          <a href="#" class="btn btn-primary">Detail</a></div>
      </div>
    </div>
    </div>
  </div>
</div>
