<h1>Danh sách danh mục sản phẩm</h1>
<a routerLink="/category/create" class="btn btn-primary">Tạo mới danh mục</a>
<table class="table table-hover">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td >Sửa</td>
    <td >Xoá</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td><a [routerLink]="['/category/update',category.id]" class="btn btn-warning">Sửa</a></td>
    <td><a (click)="deleteCategory(category.id)" class="btn btn-danger">Xoá</a></td>
  </tr>
  </tbody>
</table>
