body {
  background: #007bff;
  background: linear-gradient(to right, #322CE0, #8397FF,#45C3F5);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-signin {
  width: 100%;
}
