
<nav class="navbar navbar-expand-lg navbar-light "  style="  background: linear-gradient(to right,#4846EB, #000c40);font-size: 20px;height: 80px;"  >
  <div class="container-fluid" >
    <a class="navbar-brand" href="#"><img src="https://uploads-ssl.webflow.com/5e5e26b57a149fc28773c703/5eaf3dc2f728bb4e333a1546_hacker-news-logo.jpeg" alt="Not Found" style="width: 100px;margin:0 0px 0 60px; height: 60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active color_text" aria-current="page" style="color: aliceblue" href="#">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color_text" href="#" id="navbarDropdown2" style="color: aliceblue" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Tin Tức
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item color_text" href="#">Tin tức mới nhất</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color_text" href="#" id="navbarDropdown1"style="color: aliceblue" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Hoạt Động
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item color_text" href="#">Hôm qua</a></li>
            <li><a class="dropdown-item color_text" href="#">Hôm nay</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color_text" href="#" id="navbarDropdown"style="color: aliceblue" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Tin Hot
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item color_text" href="#">Hot Hot</a></li>
            <li><a class="dropdown-item color_text" href="#"> Tin Sốc</a></li>
            <li><a class="dropdown-item color_text" href="#">Thêm tin</a></li>
          </ul>
        </li>

      </ul>
      <div class="d-flex">
        <button type="button" class="btn btn-primary">Login <i class="fa-solid fa-user-plus" style="font-size: 30px"></i></button>
      </div>
      <div><img src="https://play-lh.googleusercontent.com/agQMLcJqnJtHjIWnZNc2wiTekUHzwPzUnN7B-YcDXtO2vtLlXD-kduOBMUyfPAimc4J_"style="height: 60px;width: 100px" alt="No No"></div>
    </div>
  </div>
</nav>


