<body>
<div class="container-fluid w-75 ">
  <div class="text-center m-5" style="font-family:Alice;font-size: 80px;color:white ; text-shadow:2px 2px 2px rgba(206,89,55,0)" >Update Facility</div>
  <div>
    <form id="form" action="/facility?action=create" method="post" class="shadow-lg p-5">
      <div class="mb-3">
        <label for="name" class="form-label">Choose Update Facility</label>
        <select  (change)="choose($event.target)" class="form-select" >
          <option value="" [selected]="true" [disabled]="true">Choose Facility</option>
          <option value="1">Villa</option>
          <option value="2">House</option>
          <option value="3">Room</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name Customer:</label>
        <input type="text" class="form-control" id="name" name="name" >
      </div>
      <div class="mb-3">
        <label for="area" class="form-label">Area :</label>
        <input type="number" class="form-control" id="area" name="area" >
      </div>
      <div class="mb-3">
        <label for="cost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="cost" name="cost" >
      </div>
      <div class="mb-3">
        <label for="max" class="form-label"> Max people</label>
        <input type="number" class="form-control" id="max" name="maxPeople">
      </div>
      <div class="mb-3">
        <label  class="form-label"> Choose Rent Type</label>
        <select id="rent_type" class="form-select" name="rentTypeId" >
          <option>Year</option>
          <option>Month</option>
          <option>Day</option>
          <option>Hour</option>

        </select>
      </div>
      <div class="mb-3" id="add" style="display: none">
        <label for="standard_room" class="form-label">Standard_room :</label>
        <input type="text" class="form-control" id="standard_room" name="standardRoom"
        >
      </div>
      <div class="mb-3" id="add1" style="display: none">
        <label for="convenience" class="form-label">DescriptionOtherConvenience :</label>
        <input type="text" class="form-control" id="convenience" name="descriptionOtherConvenience"
        >
      </div>
      <div class="mb-3" id="add2" style="display: none">
        <label for="pool_area" class="form-label">Pool_area :</label>
        <input type="number" class="form-control" id="pool_area" name="poolArea">
      </div>
      <div class="mb-3" id="add3" style="display: none">
        <label for="floors" class="form-label">Number_of_floors :</label>
        <input type="number" class="form-control" id="floors" name="numberOfFloors"
        >
      </div>
      <div class="mb-3" id="add4" style="display: none">
        <label for="facility" class="form-label">Facility_free :</label>
        <input type="text" class="form-control" id="facility" name="facilityFree"
        >
      </div>
      <div class="text-center">
        <button class="btn btn-success m-3" type="submit">Accept</button>
        <button  class="btn btn-warning" type ="button" data-bs-dismiss="modal">Close
        </button>
      </div>
    </form>
  </div>
</div>
</body>

