body{
  background-image: url("https://images.pexels.com/photos/9400917/pexels-photo-9400917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
#form{
  border-radius: 20px;
  background-color: rgba(0,0,0,.5);
}
.form-label{
  color: white;
  font-weight: 300;
}
