b
<div class="container-fluid" >
  <h1 style="font-family:Alice;font-size: 80px;color: #210C3B" class="text-center m-5"> List Customer</h1>
  <table class="table table-hover ">
    <thead>
    <tr style="color:#9f01fa ">
      <th>No.</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>IdCard</th>
      <th>Phone</th>
      <th>CustomerType</th>
      <th>Email</th>
      <th>Address</th>
      <th>Update</th>
      <th>Delete</th>
      <th>Detail</th>
    </tr >
    </thead>
    <tbody>
   <tr *ngFor="let customers of customer; let i = index">
     <td>{{i+1}}</td>
     <td>{{customers.name}}</td>
     <td>{{customers.dateOfBirth}}</td>
     <td>{{customers.gender}}</td>
     <td>{{customers.idCard}}</td>
     <td>{{customers.phone}}</td>
     <td>{{customers.customerType.name}}</td>
     <td>{{customers.email}}</td>
     <td>{{customers.address}}</td>
     <td class="text-warning">Update</td>
     <td class="text-danger">Detele</td>
     <td class="text-info">Detail</td>
    </tr>
    </tbody>
  </table>
</div>
